<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166748897148-q5amuokv95s1chjeo97khnob7r3tjvh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166748897148-q5amuokv95s1chjeo97khnob7r3tjvh8</string>
	<key>API_KEY</key>
	<string>AIzaSyDVHmgD_EZzY04vKOTPkTjprUkrQK4-SVA</string>
	<key>GCM_SENDER_ID</key>
	<string>166748897148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myTestApp</string>
	<key>PROJECT_ID</key>
	<string>test1-a84f5</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-a84f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166748897148:ios:cd0c5fd8d54502bad9eef9</string>
</dict>
</plist>